# Build
target/

# IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java
*.jar

# POM
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Properties
release.properties
dependency-reduced-pom.xml
buildNumber.properties